* {
  margin: 0;
  padding: 0;
}

body header {
  width: 100%;
  height: 70px;
  background-color: rgb(77, 86, 251);
}

body header p {
  float: left;
  font-size: 3vw;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  width: 60%;
}

body header div {
  color: white;
  float: left;

  padding-top: 12px;
  width: 13%;
}

.div1 {
  color: white;
  float: left;
  padding-top: 12px;
  width: 12%;
}

.log {
  float: left;
  width: 60px;
  padding-left: 30px;
  padding-top: 30px;
}

.log1 {
  width: 50px;
  border-color: rgb(68, 107, 248);
  background-color: rgb(68, 107, 248);
  color: white;
}

.area {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}

.half {
  width: 60%;
  height: 100%;
  float: left;
  margin-top: 60px;
  padding-left: 30px;
}

.full {
  margin-top: 40px;
  width: 40%;
  height: 100%;

  float: left;
}

.name {
  height: 40px;
}

.email {
  width: 61%;
}

.h {
  height: 27px;
}

.h1 {
  padding-left: 10px;
}

.h2 {
  padding-right: 10px;
}

.date {
  height: 25px;
}

.ckeck {
  width: 80px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.button {
  margin-top: 30px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background: rgb(88, 250, 88);
  border-color: rgb(88, 250, 88);
}

.al {
  display: flex;

  align-items: center;
}
.a {
  padding-left: 20px;
}

.hal {
  display: flex;
  align-items: center;
}

.li {
  padding-left: 20px;
}

.icon {
  font-size: 2vw;
}

.k {
  padding-left: 10px;
}
